table(style='width:100%', border='1')
  tr
    th First Name
    th Last Name
    th Email
    th Phone
    th Company
    th What best describes you?
    th Project Name
    th Project Location
    th Elevation at Point of Connection
    th Average Daily Flows
    th Top Elevation Of Wetwell
    th Inlet Pipe Elevation
    th Feet Of Force Main On Private Property/Size
    th Size Of Force Main On Private Property
    th Feet Of Force Main On Right Of Way/Size
    th Size Of Force Main Right Of Way
    th Back Pressure In Existing Force Main
    th Connecting To What City or County
  tr
    td #{fname}
    td #{lname}
    td #{Email}
    td #{phone}
    td #{company}
    td #{worked}
    td #{pname}
    td #{plocation}
    td #{pdetails1}
    td #{pdetails2}
    td #{pdetails3}
    td #{pdetails4}
    td #{pdetails5}
    td #{pdetails6}
    td #{pdetails7}
    td #{pdetails8}
    td #{pdetails9}
    td #{pdetails10}